<html ng-app="my-app">
  <head lang="en">
    <meta charset="utf-8">
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
         <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="app.js"></script>
  </head>
  
  <body ng-controller="AppController">
    <div>
      <h2>You have <span>{{getTotalTodos()}}</span> todos!</h2>
      <ul>
        <li ng-repeat="todo in todos"> <!-- setting up the repeater-->
          <input type="checkbox" ng-model="todo.done"/> <!-- adding an ng=model to apply to the checkbox, which tells us if the checkbox is true (checked) or false (unchecked) -->
          <span>{{todo.text}} -- Completed: {{todo.done}}</span> <!-- here's todo.done in action -->
        </li>
      </ul>
      <form>
        <input placeholder="Insert todo here!" type="text" ng-model="formTodoText"/>
        <button ng-click="addTodo()">Add Todo</button> <!-- on click, we add the todo to our list -->
      </form>
      <br/>
      <button class="clear-btn" ng-click="clearCompleted()">Clear completed</button> <!-- removes completed (checked) todos -->
    </div>
  </body>
</html>